@charset "utf-8";
.menuNumber{
  position: absolute;
  height: 100%;
  width: 30px;
  top: 0;
  left: 0;
  border-right: 1px solid rgb(238, 238, 238);
  box-shadow: 1px 0px 1px rgba(20, 23, 26,.5);
  background: rgba(20, 23, 26,.5);
  padding-top: 4px;
  box-sizing: border-box;
}
.menuNumber>li{
  list-style: none;
  font-size: 15px;
  text-align: center;
}